In [52]:
import pandas as pd

In [53]:
df_movies = pd.read_csv("dataset/movies.csv")
df_ratings = pd.read_csv("dataset/ratings.csv")

In [54]:
df_movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [55]:
df_ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [56]:
avg_movie_ratings = df_ratings.groupby('movieId').agg({'rating':['mean']})
avg_movie_ratings.head()

           rating
             mean
movieId
1        3.920930
2        3.431818
3        3.259615
4        2.357143
5        3.071429

In [57]:
print(len(avg_movie_ratings.index), len(df_movies.index))

9724 9742

In [58]:
df_avg_movie_ratings = pd.merge(df_movies, avg_movie_ratings, how="left", on=["movieId"])

/var/folders/sj/_krj1ycn643clvnlsw39sy6w0000gn/T/ipykernel_19433/3467367302.py:1: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (1 levels on the left, 2 on the right)
  df_avg_movie_ratings = pd.merge(df_movies, avg_movie_ratings, how="left", on=["movieId"])

In [59]:
print(df_avg_movie_ratings.head())

   movieId                               title  \
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

                                        genres  (rating, mean)
0  Adventure|Animation|Children|Comedy|Fantasy        3.920930
1                   Adventure|Children|Fantasy        3.431818
2                               Comedy|Romance        3.259615
3                         Comedy|Drama|Romance        2.357143
4                                       Comedy        3.071429

In [60]:
df_avg_movie_ratings.rename(columns = {('rating', 'mean'): 'avg_ratings'}, inplace=True)

In [61]:
df_avg_movie_ratings.head()

,movieId,title,genres,avg_ratings
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3.920930
1,2,Jumanji (1995),Adventure|Children|Fantasy,3.431818
2,3,Grumpier Old Men (1995),Comedy|Romance,3.259615
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2.357143
4,5,Father of the Bride Part II (1995),Comedy,3.071429

In [66]:
df_avg_movie_ratings['avg_ratings'].isnull().values.sum()

18

In [67]:
df_avg_movie_ratings['avg_ratings'].fillna(df_avg_movie_ratings['avg_ratings'].mean(), inplace=True)

In [68]:
df_avg_movie_ratings['avg_ratings'].isnull().values.sum()

0

In [69]:
df_avg_movie_ratings.to_csv('dataset/movie_ratings.csv')

In [70]:
pwd

'/Users/sanial2001/PycharmProjects/movies/app'